*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins'; sans-serif;
}
.container{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(images/background.jfif);
  background-size: cover;
  background-position: center;
  padding:0 8%;
  position: relative;
}
nav{
  display: flex;
  width: 100%;
  align-items:center;
  flex-wrap: wrap;
  padding: 5px 0;
}